#root {
  text-align: center; 
}



/* basic NavBar CSS, add to App.css and customise as needed */
.NavBar {
  border-top: 4px solid grey;
  border-bottom: 4px solid grey;
}

.NavBar ul {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0;
}
.NavBar ul li a {
  padding: 1em;
  color: inherit;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
}
.NavBar ul li a.active {
  font-weight: bold;
}


/* Emoji */

.Emoji {
  font-size: 100px;
}

.change-mood-btn {
  background-color: purple;
  color: white;
  margin: 30px;
}

/* Login */
.Login{
  padding:30px;
}